.about img{
    height: 70px;
    margin-bottom: 10px;
}
.footer p {
    color: white;
}
.paymethods img{
    height: 30px;
}
.whoweare{
    text-align: center;
    color: #C160E5;
    font-size: 35px;
}

@media only screen
and (max-width: 650px) {

    .about img{
        height: 50px;
        padding: 15px;
        margin-bottom: 10px;
    }

    .paymethods img{
        height: 20px;
    }
    .whoweare{
        text-align: left;
        color: #C160E5;
        font-size: 30px;
    }

}
