.navbar{
    position: fixed;
    z-index: 3;
    padding: 0;
    background-Color:rgbA(53,44,72,.9)
}
.navbar p{
    color: #8A808E;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 10px;
}
.navbar a{
    text-decoration: none;
}
.active p{
    color: white;
}