*{
    box-sizing: border-box;
}
body{
    margin: 10px;
    text-align: center;
}
.flex-container{
    display: flex;
    align-items: center;
}
.flex-container>h2{
    text-align: center;
    width: 100%;
}
.flex-container>img{
    text-align: center;
    /*width: 100%;*/
}
